.penghargaan{
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;

}

.slick-next:before,
.slick-prev:before {
    content: "" !important;
}

.slick-next {
    width: 100px !important;
    height: 100px !important;
    right: -5vw !important;
}

.slick-prev {
    width: 100px !important;
    height: 100px !important;
    left: -5vw !important;
    z-index: 9999 !important;
}

.penghargaan-container{
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    gap: 100px;
}

.penghargaan-title-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.box-penghargaan{
    padding: 60px 24px 60px 24px;
    border-radius: 6px;
    margin: 0 auto;
    width: max-content !important;
    border: 1px solid var(--light-other-divider, rgba(58, 53, 65, 0.12));
    background: var(--light-background-paper, #FFF);
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tropy-container{
    width: 120.069px;
    height: 160px;
    margin-bottom: 20px;
}

.slick-dots {
    bottom: -50px !important;
}

.title-penghargaan{
    color: var(--secondary-2);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.font-from-penghargaan{
    font-size: 16px;
    font-weight: 700;
    color: var(--action-active);
    line-height: 24px;
}