/* Setup */
#root {
  margin: 0 auto;
  font-family: "DM Sans" !important;
  font-feature-settings: 'clig' off, 'liga' off;
  overflow-x: hidden;
  --secondary-1: #222325;
  --secondary-2: #484848;
  --secondary-3: #FFFFFF;
  --action-active:rgba(58, 53, 65, 0.54);
  --primary-6: #2D8BBA;
  --background-body-background: #F7F9FA;
  --text-secondary: #484848;
  --light-custom-background-info-background: linear-gradient(0deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.88) 100%), #2196F3;
  --light-custom-background-error-background: linear-gradient(0deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.88) 100%), #F44336;
  --light-custom-background-success-background: linear-gradient(0deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.88) 100%), #4CAF50;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.App {
  min-height: 100vh;
  margin: 0 auto;
}

/* Navbar */
nav {
  display: inline-flex;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88px;
  padding: 0px 5% 0px 5%;
  background: #fff;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.language-container {
  display: flex;
  position: relative;
  user-select: none;
}

.language-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 60px;
  /* background-color: black; */
}

.language-container-img{
  /* background-color: black; */
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.language-nav svg {
  margin-left: 4px;
  display: block !important;
}

.language-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 200px;
  z-index: 9999999999999999;
  top: 40px;
  right: 0px;
  /* border-radius: 6px; */
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.10);
}

.language-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.language-option:hover {
  background-color: #b8dfff;
  cursor: pointer;
}

.flag {
  display: flex;
}

.check-btn {
  width: 16px;
  height: 16px;
}

.nav-container svg {
  display: none;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: 	#D3D3D3;
}

.progress-bar {
  height: 4px;
  background: #41B8D5;
  width: 0%;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-logo-container img {
  width: 72px;
  height: 48px;
}

.nav-logo-container p {
  font-size: 20px;
  color: var(--secondary-1);
  font-weight: 500;
  user-select: none;
  word-wrap:unset;
}

.navbar-links-container a {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
  line-height: 24px;
  color: var(--secondary-1);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  user-select: none;
}

/* Underline effect when hover */
.navbar-links-container a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1.5px;
  background: var(--secondary-1);
  transition: width .4s;
}

.navbar-links-container a:hover::after{
  width: 100%;
  transition: width .4s;
}

/* Beranda */
.beranda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beranda-section {
  background: #3E5AA3;
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beranda-container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.start-btn {
  border-radius: 48px;
  background: var(--primary-5, #41B8D5);
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

.beranda-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.beranda-left p:nth-child(1) {
  color: var(--c-5, #FFF);
  font-family: Montserrat !important;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px; /* 155.556% */
  text-transform: uppercase;
  max-width: 450px;
}

.beranda-left p:nth-child(2) {
  color: var(--c-5, #FFF);
  font-family: Montserrat !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  max-width: 450px;
}

.beranda-right {
  width: 488px;
  height: 413px;
}

.beranda-info-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0px 0px 0px;
  flex-wrap: wrap;
}

.beranda-info-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.beranda-info-left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 286px;
  gap: 16px;
}

.beranda-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.beranda-info-right-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.info-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.info-container svg {
  position: absolute;
  z-index: -1;
  left: -20px;
}

.info-number {
  color: var(--secondary-2);
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.info-text {
  width: 255px;
  color: var(--secondary-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
  text-transform: capitalize;
  padding-left: 10px;
}


/* Sejarah */
.sejarah {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
}

.sekilas-container{
  margin: 0 auto;
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px 60px 0px;
}

.sekilas-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.sekilas-left p:nth-child(1){
  font-size: 16px;
  font-weight: 700;
  color: var(--action-active);
  line-height: 24px;
}

.sekilas-left p:nth-child(2){
  max-width: 490px;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-2);
  line-height: 28px;
}

.sekilas-left p:nth-child(3){
  max-width: 588px;
  font-size: 14px;
  color: var(--secondary-2);
  line-height: 24px;
}

.sekilas-right {
  width: 390px;
  height: 420px;
}

.sejarah-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 0px 0px 60px 0px;
}

.sejarah-container p:nth-child(1){
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.timeline {
  height: 26px;
  width: 100%;
  position: relative;
}

.timeline-line {
  width: 100%;
  background: var(--primary-6);
  height: 3px;
  position: absolute;
}

.timeline-dot-container {
  bottom: 13px;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.timeline-dot-container * {
  display: flex;
  align-items: center;
}

.timeline-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 22px;
  flex-wrap: wrap;
}

.timeline-card {
  border-radius: 4px;
  background: var(--background-body-background);
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.timeline-card p:nth-child(1){
  color: var(--text-secondary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.timeline-card p:nth-child(2){
  color: var(--text-secondary);
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}


/* Misi Visi */
.misi-visi {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 90px 0px 90px 0px;
  gap: 40px;
}

.misi-container {
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F7F9FA;
  gap: 36px;
}

.misi-container p:nth-child(1) {
  color: var(--secondary-2);
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.misi-container p:nth-child(2) {
  text-align: center;
  max-width: 560px;
  color: var(--secondary-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}

.visi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
}

.visi-heading {
  color: var(--secondary-2);
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;  
  letter-spacing: 1px;
}

.visi-card-container {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visi-card {
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.10);
  height: auto;
  flex: 1;
  padding: 41px 37px 30px 36px ;
  /* min-width: 360px;
  min-height: 215px; */
  position: relative;
}

.visi-card:nth-child(1) .visi-icon {
  position: absolute;
  left: 36px;
  top: -22px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--light-custom-background-info-background);
}

.visi-card:nth-child(2) .visi-icon {
  position: absolute;
  left: 36px;
  top: -22px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--light-custom-background-error-background);
}

.visi-card:nth-child(3) .visi-icon {
  position: absolute;
  left: 36px;
  top: -22px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--light-custom-background-success-background);
}

.visi-title {
  color: var(--secondary-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.visi-text {
  color: var(--secondary-2);
  font-size: 14px;
  line-height: 24px;
}



/* Partner */
.partner {
  margin: 0 auto;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.partner-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.partner-container p{
  color: var(--secondary-2, #484848);
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.partner-logo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner-logo img {
  width: auto;
  height: auto;
}

/* Footer */
.footer {
  color: var(--secondary-3);
  display: flex;
  justify-content: space-between;
  padding: 79px 117px;
  background: var(--primary-7, #2F5F98);
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer img {
  height: auto;
  width: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  gap: 16px;
}

.footer-container p:nth-child(2) {
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-container p:nth-child(3) {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  gap: 16px;
}

.footer-logo-container p:nth-child(2) {
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-logo-container p:nth-child(3) {
  display: none;
}

/* Mobile Responsive */
@media (max-width: 800px) {
  .navbar-links-container {
    display: none;
  }

  .nav-container {
    padding: 10px 8% 10px 8%;
    min-height: 60px;
  }

  .nav-container svg {
    display: block;
    font-size: 24px;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mobile-nav a {
    text-decoration: none;
    color: var(--secondary-1);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    user-select: none;
  }

  .nav-logo-container img {
    width: 60px;
    height: 40px;
  }

  .nav-logo-container p {
    display: none;
  }

  .sekilas-container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .beranda-right {
    display: none;
  }

  .sekilas-right {
    width: 100%;
    height: max-content;
  }

  .info-number {
    font-size: 32px;
  }

  .beranda-info-container {
    padding-top: 60px;
    gap: 50px;
  }


  .beranda-info-right-container{
    margin-left: 20px;
    gap: 30px;
  }

  .info-text {
    font-size: 16px;
    padding-left: 0px;
  }

  .info-text {
    font-size: 14px;
    width: 130px;
  }

  .timeline {
    display: none;
  }

  .partner-logo img {
    max-width: 80px;
    max-height: 50px;
  }
  
  .partner-logo {
    gap: 10px;
  }

  .footer {
    color: var(--secondary-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 79px 0px;
    background: var(--primary-7, #2F5F98);
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 280px;
    gap: 10px;
  }

  .footer-logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 280px;
    gap: 10px;
  }

  .footer-container p:nth-child(2) {
    display: none;
  }

  .footer-container p:nth-child(3) {
    text-align: left;
  }

  .footer-logo-container p:nth-child(2) {
    display: none;
  }

  .footer-logo-container p:nth-child(3) {
    display: block;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

}